<!doctype html>
<html lang="en" ng-app="EducationUnited">
<head>
    <meta charset="utf-8">
    <title>Education United</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular/angular-resource.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>

    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div id="header" class="header navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                </button>
                <a class="brand" href="/">Education United</a>
                <div class="nav-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/mission">Mission</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/people">People</a></li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>
                            <!-- PayPal Donate Button -->
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="padding-top:7px;">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="VKYEKYGCXHW42">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
    <div class="container page">
        <div id="content" class="container main" ng-view>
        </div>

        <hr>
        <footer id="footer" class="footer">
            <div class="footer-left">
                <a href="/">Home</a> |
                <a href="/mission">Mission</a> |
                <a href="/projects">Projects</a> |
                <a href="/people">People</a> |
            </div>
            <div class="footer-right">
                <span>&copy; 2018 Education United 501(c)(3)</span>
            </div>
        </footer>
    </div>
</body>
</html>
